:root {
    --primary : linear-gradient(to bottom right, #0a0057, #3f00ee);
    --secondary : gold;
    --text : #fff;
}

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@1,600;1,700&display=swap');

*{
    font-family: 'Nunito Sans', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;

}
html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
}

body{
    
    background-color: #D5F5E3;
   
}
.header{
    position: fixed;
    top:0; left: 0; right: 0;
    z-index: 10000;
    background: #09D6D6;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 6%;
    height: 60px;
}

.header .logo{
    font-weight: bolder;
    color: #633974;
    font-size: 3.5rem;
    font-family: comic sans ms,cursive;
    text-decoration: none;

}

.header .logo span{
    color: #CB4335;
}

.header .navbar a{
    font-size: 1.6rem;
    color: #000808;
    margin-left: 1.5rem;
    text-decoration: none;
    font-weight: bolder;
    
    
}

.header .navbar a:hover{
    color: #fff;
}
.header .dropdown {
    float: right;
    overflow: hidden;
    padding-left: 1.5rem;
  }
  
  /* Dropdown button */
 .header .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: #000808;
    padding: 1px 1px;

    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }
  
  /* Add a red background color to navbar links on hover */
 
  
  /* Dropdown content (hidden by default) */
 .header .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
 .header .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #09D6D6;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }

.container {
    height: 100vh;

    display: grid;
    grid-template-columns: 1.8fr 1.2fr;
    gap: 1rem;
    
    padding: .5rem 1rem;
    text-transform: capitalize;
    margin-top: 12rem;
}

@media screen and (max-width: 990px) {
    .container {
        grid-template-columns: 1fr;
    }
}

.main-video, .video-playlist {
    width: 100%;
    height: 30rem;
}

.main-video .title {
    margin-top: 2rem;
    right: 20px;
  
}
.main-video h3{
    font-size: 2rem;
    color: #633974;
    
}

.video-playlist .title {
    padding-left: 1rem;
    right: 20px;
    font-size: 2rem;
    color: #633974;
}
.video-playlist .title1 {
    
    font-size: 1.5rem;

}

.video-playlist > p {
    padding: 1rem;
    color: #CB4335;
    font-size: 1.7rem;
    font-weight: bold;
}

.video-playlist .videos{
    height: 70%;
    overflow-y: auto;
}

.video-playlist .videos::-webkit-scrollbar {
    width: .4rem;
    border-radius: .4rem;
    background-color: #0005;
}

.video-playlist .videos::-webkit-scrollbar-thumb {
    border-radius: .4rem;
    background-color: #fff;
}

.video-playlist .videos .video {
    position: relative;
    width: 100%;
    height: 4rem;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0 1rem;
    margin-top: .1rem;
    cursor: pointer;

    border-radius: .5rem;
}

.video-playlist .videos .video:hover {
    background-color: #0003;
}

.video-playlist .videos .video.active {
    background-color: #0003;
    color: #CB4335;
}

.main-video video {
    width: 100%;
    border-radius: .5rem;
}

.video img {
    position: absolute;
    left: 1rem;
    top: 50%;
    transform: translateY(-50%);
    
    width: 1.5rem;
    height: 1.5rem;
    
    filter: invert(100%);
}

.video-playlist .videos .video.active img {
    filter: invert(100%) sepia(100%) saturate(2000%) hue-rotate(360deg);
}

.video p {
   margin-left: 2.5rem;
   font-size: 1.5rem;
}

.video h3 {
    width: 23rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    font: 100 1rem sans-serif;
    padding: 0 .5rem;
    font-size: 3rem;
}
